* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

 
 

.com-navbar {
  padding: 1% 6%;
  display: flex;
  justify-content: space-between;
}

.com-logo {
  display: flex;
  align-items: center;
   
}

.com-logo h1 {
   color:rgba(0, 0, 0, 0.825);
  margin-left: 4px;
}

.com-logo #logo-first {
  color: #fe6c45;
}

.com-navbar nav {
  display: flex;
  align-items: center;
  gap: 7rem;
   
}

.com-navbar nav a {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  transition: color 0.2s ease-in-out;
  pointer-events: all;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #fe6c45;
  transition: width 0.4s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #fe6c45;
}

.log-btn{
  padding:7px 19px;
  background-color: #071c3c;
  /* color:white !important; */
}
.log-btn a{
  color:white !important;
}
.log-btn a:hover{
  color:#fe6c45 !important;
}
 

 

 